.app-element__input-label {
  color: $color-base-2;
}

.app-element__input-wrapper {
  background-color: $color-white;
  border-color: $color-base-2;
  color: $color-base-2;
}

.app-element__button {
  color: $color-white;
  background-color: $color-button-primary;
}
