@import "~bootstrap/scss/bootstrap";
@import "utilities/reset.scss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap");

html {
  height: 100%;
}
#__nuxt,
#__layout,
body {
  height: 100%;
  min-height: 100%;
  font-family: "Poppins", sans-serif;
  // font-family: Kanit, sans-serif;
}

@import "elements/elements.scss";
@import "themes/theme-light.scss";

.theme-dark {
  @import "themes/theme-dark.scss";
}
